body {
    font-family: Arial, sans-serif;
    background: url('IMGEvGrupalB.avif') center/cover no-repeat;
    background-color: #f9f9f9; /* Fondo claro para toda la página */
    margin: 0; /* Sin margen en el body */
    padding: 0; /* Sin padding en el body para que el contenido esté bien alineado */
    justify-content: center;
}

.HeaderEventos {
    position: relative;
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho de la página */
    background: url('IMGEvGrupalH.jpg') center/cover no-repeat; /* Corrección en la sintaxis */
    color: white;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente el contenido */
    margin: 0; /* Elimina cualquier margen que pueda empujar el header */
}

.HeaderEventosNav {
    position: absolute;
    top: 10px;
    right: 20px;
}

.HeaderEventosNav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.HeaderEventosNav a {
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.3s;
}

.HeaderEventosNav a:hover {
    background-color: #333;
}

.EventosGrupales {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.ListaEventos {
    background-color: white; /* Fondo blanco para la sección de eventos */
    margin: 20px auto; /* Márgenes automáticos para centrar la sección */
    padding: 20px; /* Espacio interno dentro de la sección */
    max-width: 800px; /* Ancho máximo de la sección */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}

h2 {
    text-align: center; /* Centrar el título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Sin padding en la lista */
}

.ListaEventos li {
    margin-bottom: 20px; /* Espacio entre los eventos */
    padding: 10px; /* Espacio interno en cada evento */
    border: 1px solid #ddd; /* Borde sutil alrededor de cada evento */
    border-radius: 8px; /* Bordes redondeados para cada evento */
}

h3 {
    margin-bottom: 5px; /* Espacio debajo del título de cada evento */
}

p {
    margin: 5px 0; /* Espacio arriba y abajo de los párrafos */
}

#gif-container {
    margin-top: 20px; /* Espacio entre el botón y el contenedor del GIF */
}
img {
    display: block; /* Hace que las imágenes aparezcan en una nueva línea */
    margin: 10px auto; /* Centra las imágenes en el contenedor */
    max-width: 100%; /* Ajusta el tamaño para que no sobrepase el contenedor */
}


footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}
