* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.Header {
    position: relative;
    padding: 20px;
    background-size: 100% 100%;
    animation: slider 20s linear infinite;
    color: white;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes slider {
    0%{background-image: url('Naturaleza_Felix-Mittermeier_Pexels.jpg');}
    30%{background-image: url('https://wallpapers.com/images/hd/green-nature-leaf-with-dew-pdju0rwgg16bn5nb.jpg');}
    60%{background-image: url('https://i.pinimg.com/originals/de/55/0d/de550d8052bf677f9756cdefb35544e7.jpg');}
    100%{background-image: url('https://wallpapercave.com/wp/wp7532100.jpg');}
}

.INICSERVUSCONTAC {
    position: absolute;
    top: 10px;
    right: 20px;
}

.INICSERVUSCONTAC ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.INICSERVUSCONTAC a {
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.3s;
}

.INICSERVUSCONTAC a:hover {
    background-color: #333;
}

.Header h2 {
    text-align: center;
    margin-top: 70px;
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 10px;
}

.BarraBusqueda {
    margin-top: 20px;
}

.BarraBusqueda input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.puntos {
    background-image: url('puntoreciclaje.jpg'), 
                      url('reciclaje.jpg'), 
                      url('reciclando.jpg'), 
                      url('limpiando.jpg'),
                      url('puntolimpio.jpg'),
                      url('limpiando.jpg');
    background-size: 20% 50%, 20% 50%, 20% 50%, 20% 50%, 40% 70%; /* Tamaños ajustados */
    background-position: top left, top right, bottom left, bottom right, center; /* Posiciones de cada imagen */
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; /* Evitar repetición de imágenes */
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative; /* Para asegurar que el contenido se ubique correctamente */
}

.puntos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Capa semitransparente para mejorar legibilidad */
    z-index: 1;
}

.puntos a {
    position: relative;
    z-index: 2; /* Asegura que el texto y el botón estén sobre la capa */
}

/* Sección de puntos de reciclaje 
.puntos {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.puntos h1 {
    font-size: 2.5em;
}

.puntos p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
*/
.btn {
    z-index: 2;
    background: linear-gradient(90deg,
        #27b1f1, #3bf163);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn:hover {
    background: linear-gradient(90deg,
        #02547a, #0b8024)
}

#map {
    height: 600px;
    width: 100%;
    margin: 20px auto;
    max-width: 1200px;
    border: 5px solid #228B22;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.filter-container {
    margin: 20px;
    text-align: center;
}

 .filter-container select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Sección de descripción */
.description {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.description h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.map-section {
    padding: 50px 20px;
    text-align: center;
}




.leaflet-popup-content-wrapper {
    background-color: #ffffff;  
    border-radius: 10px;
    border: 1px solid #228B22;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    padding: 10px;
}

.leaflet-popup-content h2 {
    margin: 0;
    color: #2f4f4f;  
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;  
}

.leaflet-popup-content p {
    color: #444444;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 5px;
}

.leaflet-popup-tip-container {
    display: none;  
}


.leaflet-popup {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.leaflet-popup-open {
    opacity: 1;
}

.voluntariado {
    padding: 50px 20px;
    background: linear-gradient(135deg, #0d123d, #1d6fb8); /* Mezcla de azul y negro */
    color: white;
    text-align: center;
    border-radius: 10px;
}

.voluntariado h2 {
    font-size: 1.8em; /* Tamaño del título un poco más pequeño */
    margin-bottom: 20px;
    color: #0509e9; /* Tono de azul para el título */
}

.voluntariado p {
    font-size: 1em; /* Tamaño del texto más pequeño */
    line-height: 2; /* Espaciado entre líneas */
    color: #f0f0f0; /* Texto más claro para mayor contraste */
}



/* Estilos para el botón de voluntariado */
.voluntariado .btn {
    background: linear-gradient(90deg,
        #27b1f1, #3bf163,
        #3bffb4, #4d65eb);
    color: white; /* Color del texto */
    padding: 15px 30px; /* Más espacio interno (padding) */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transiciones */
}

.voluntariado .btn:hover {
    background: linear-gradient(90deg,
        #013f10, #3bf163,
        #017046, #0826d1);
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}


.testimonios {
    padding: 30px 20px;
    text-align: center;
}

.testimonios h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.testimonios-contenedor {
    background-image: url('fondotestimonios.jpg' );
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
    
.testimonios-filtro {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
    

    
.testimonios-slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
    gap: 20px;
}
    
.testimonio {
    min-width: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    
.avatar {
    background-color: #03657e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}
    
.detalles {
    margin-left: 10px;
}
    
.estrellas {
    color: #f39c12;
    font-size: 14px;
}
    
.detalles p {
    margin: 5px 0;
}
    
.testimonios-slider::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}
    
.slider-controles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
    
.slider-controles button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    
.formulario-testimonios {
    background-image: url('fondotestimonios.jpg' );
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
    
.formulario-testimonios h3 {
    margin-bottom: 20px;
}
    
.formulario-testimonios label {
    display: block;
    margin: 10px 0 5px;
}
    
.formulario-testimonios input,
.formulario-testimonios textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    
.formulario-testimonios button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    

.description {
    background: url('nature.jpg') center/cover no-repeat; /* Fondo con imagen */
    padding: 60px 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    position: relative;
}

.description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente para mejorar la legibilidad */
    z-index: 1;
    border-radius: 10px;
}

.description h2 {
    font-size: 2em;
    color: #629b06; /* Color llamativo */
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px; /* Espaciado entre letras */
}

.description p {
    font-size: 1.3em;
    line-height: 1.8;
    color: #fff;
    z-index: 2;
    position: relative;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}


.icons {
    position: relative;
}

.contacto {
    margin-bottom: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.contacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contacto button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #0056b3;
}

.iconos {
    position: relative;
    
}

.iconos i {
    padding: 10px;
    margin: 30px;
    font-size: 30px;
    margin-left: 15px;

}
