* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/imagenes/PlantitaFondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: white;
    padding: 30px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.register-btn input {
    width: 100%;
    padding: 10px;
    background-color: #128a32;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-btn input:hover {
    background-color: #0f7a2b;
}

a {
    color: #159d39;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.back-btn {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #128a32;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #0f7a2b;
}
