* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.Header {
    position: relative;
    padding: 20px;
    background: url('Naturaleza_Felix-Mittermeier_Pexels.jpg') center/cover no-repeat;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.INICSERVUSCONTAC {
    position: absolute;
    top: 10px;
    right: 20px;
}

.INICSERVUSCONTAC ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.INICSERVUSCONTAC a {
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.3s;
}

.INICSERVUSCONTAC a:hover {
    background-color: black;
}

.Header h2 {
    text-align: center;
    margin-top: 70px;
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 10px;
}

.BarraBusqueda {
    margin-top: 10px;
}

.BarraBusqueda input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.PerfilHeader {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.PerfilHeader a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
}
