* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.HeaderEventos {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.HeaderEventosNav ul {
    list-style: none;
    padding: 0;
}

.HeaderEventosNav li {
    display: inline;
    margin: 0 15px;
}

.HeaderEventosNav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.HeaderEventosNav a:hover {
    background-color: #555;
}

.EventosSoli {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contenido {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.informacion-adicional {
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
}

.boton-unirse {
    text-align: center; /* Centra el contenido dentro del contenedor */
    margin-top: 20px;
}

.boton-unirse button {
    background-color: #28a745; /* Color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.boton-unirse button:hover {
    background-color: #218838; /* Color al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.aceptar-btn {
    background-color: #8edb8e; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 15px 0 0; /* Combina márgenes */
}

.aceptar-btn:hover {
    background-color: #6cbe6c; 
}


.ListaEventos {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 65%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.ListaEventos li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ListaEventos li:hover {
    background-color: #f0f0f0;
}

h3 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

.boton-unirse {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 5px solid yellow;
}
